<form *ngIf="post" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="appPostTitle">Title</label>
        <input type="title" class="form-control" [(ngModel)]="post.title" name="title" id="appPostTitle" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="appPostContent">Content</label>
        <ckeditor [editor]="Editor" [(ngModel)]="post.content" [ngModelOptions]="{standalone: true}" [config]="{ 
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h3', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h4', title: 'Heading 2', class: 'ck-heading_heading2' }
                ]
            } 
        }"   (ready)="editorOnReady($event)"></ckeditor>
    </div>
    <app-tags-input (tagsEvent)="setTags($event)" [tagsInput]="post.tags_form"></app-tags-input>
    <app-tabs-input></app-tabs-input>
    <div class="form-group text-right">
        <button class="btn btn-lg btn-primary mt-4" type="submit">Submit</button>
    </div>
</form>
