<div class="card-admin menu px-5 pb-0">
    <ul class="nav justify-content-end" >
        <li class="nav-item">
          <a class="nav-link app-link" (click)="editPost(post)"><img src="../assets/img/edit.png" width="20" data-toggle="tooltip" data-placement="top" title="Edit this post"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link app-link" (click)="deletePost(post.guid)"><img src="../assets/img/delete.png" width="20" data-toggle="tooltip" data-placement="top" title="Delete this post"></a>
        </li>
    </ul>
</div>
