<div class="card-body px-md-5 pb-md-0 app-social-actions">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link app-link" (click)="setLovePost()"><img src="../assets/img/love.png"
          width="20"> <small>({{loves}})</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link app-link" (click)="setBeastIdea()"><img src="../assets/img/idea.png"
          width="20"> <small>({{ideas}})</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link app-link" (click)="setLikePost()"><img src="../assets/img/like.png"
          width="20"> <small>({{likes}})</small></a>
    </li>
  </ul>
</div>