<app-nav-bar></app-nav-bar>
<div class="container-fluid app-main app-post-view">
    <div class="row">
        <div class="col-md-7 pr-md-0 border-right">
            <div class="mt-4 pb-4 border-bottom-1 overflow-auto scroll-area" style="height:90vh;">
                <div class="card border-0  ">
                    <div class="card-header border-bottom-0 bg-white pl-md-5 pr-md-5">
                        <div class="row">
                            <div class="col-9">
                                <h1>{{pageTitle}}</h1>
                            </div>   
                            <div class="col-3">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link pr-0" href="{{returnUrl}}"><img src="../assets/img/close.png" width="30" data-toggle="tooltip" data-placement="top" title="Edit this post"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-md-5 pb-md-0">
                        <app-post-form [post]="post"></app-post-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 px-sm-5">
            <div *ngIf="post || owner" class="mt-4 pb-4 border-bottom-1 overflow-auto" >
                <app-owner-block [owner]='owner'></app-owner-block>
                <app-post-list [owner]='owner'></app-post-list>
             </div>
        </div>
    </div>
</div>
